body,
html {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
}

.container {
  text-align: center;
}

.gear-container {
  margin-top: 40px;
  position: center;
}
.gear-tree {
  height: 400px;
  width: 400px;
}

.header-banner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 4rem;
  background-color: #0f544b;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 90%;
}
.header-banner a {
  text-decoration: none;
}

h1,
p {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}
.bottom-right-arrow {
  bottom: 0;
  right: 0;
  margin: auto;
}

.next-arrow {
  width: 100px;
  height: 100px;
}

.arrow-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-block;
}
.arrow-button:hover .next-arrow {
  opacity: 0.8;
}
